# **COMPANIES DATASETS JOIN**

> Each dataset contains the information regarding the same companies from 3 different sources. 
> The point of this project is to create a 4th dataset, containing the other 3, and by joining them, better accuracy on the common columns is desired. 
> The columns that interest us the most are Category, Address (country, region, city, address), Phone, Company names. These columns will be mapped for the new dataset created.

# Contents

* [Visually explore the data](#1)
* [Missing data](#2)
* [Keep only the most relevant columns and rename them across all the datasets / create filtered datasets](#3)
* [Duplicated rows in each dataset](#4)
* [Unique values for country](#5)
* [Clean the country column in Company dataset since some values are numerical](#6)
* [Unique values for country code to check the format (2 or 3 letters)](#7)
* [Reformat phone numbers in Company dataset](#8)
* [Dictionary with phone prefix as key and country code and country name as values](#9)
* [Missing name column in Google dataset](#10)
* [Delete rows where all other columns are empty except for name and category across all datasets](#11)
* [Add '+' at the beginning of the phone number and set it as NaN if it's not valid](#12)
* [Fill in the country/country code based on phone number if provided](#13)
* [Check if there are still rows where phone, name, category and country are not bot provided and remove them](#14)
* [Merge the datasets](#15)

<a id="1" ></a>
## **Visually explore the data**

In [1]:
import numpy as np 
import pandas as pd 

bad_lines = []

def handle_bad_lines(line):
    bad_lines.append(line)
    
file_path_fb = "../input/companies-datasets/datasets/facebook_dataset.csv"

facebook = pd.read_csv(file_path_fb, on_bad_lines = handle_bad_lines, engine = 'python')

print(f"Total bad lines encountered: {len(bad_lines)}")

def lines_number(path):
    with open(path, 'r') as file:
        total_lines = sum(1 for line in file)
        
    return total_lines

print(f"Total lines in the facebook file: {lines_number(file_path_fb)}", '\n')

# check the lines that are inconsitent
# for line in range(len(bad_lines)):
#     print(bad_lines[line], '\n')

bad_lines = []

file_path_gg = "../input/companies-datasets/datasets/google_dataset.csv"
google = pd.read_csv(file_path_gg, on_bad_lines = handle_bad_lines, engine = 'python')

print(f"Total bad lines encountered: {len(bad_lines)}")

print(f"Total lines in the google file: {lines_number(file_path_gg)}", '\n')


# for line in range(len(bad_lines)):
#     print(bad_lines[line], '\n')

bad_lines = []
file_path_wb = "../input/companies-datasets/datasets/website_dataset.csv"
company = pd.read_csv(file_path_wb, on_bad_lines = handle_bad_lines, engine = 'python')

print(f"Total bad lines encountered: {len(bad_lines)}")

print(f"Total lines in the website file: {lines_number(file_path_wb)}")

Total bad lines encountered: 8
Total lines in the facebook file: 72081

Total bad lines encountered: 4
Total lines in the google file: 356521

Total bad lines encountered: 8472
Total lines in the website file: 72019

* Parsing errors encountered, which means that there are lines with inconsitencies - fields are not correctly separated by commas.
* Since the number of bad lines is almost irrelevant compared to the total number of lines (companies listed), they were removed.
* I checked the data from the website_dataset.csv file and it looks as an excel file. Because it is saved as a .csv file, I opened it into a text editor to check the delimiter / or if the file contains plain text only, noticing that the delimiter is ";".

In [2]:
facebook = pd.read_csv(file_path_fb, on_bad_lines = 'skip')
google = pd.read_csv(file_path_gg, on_bad_lines = 'skip', low_memory = False)
company = pd.read_csv(file_path_wb, sep = ';')

print("Data from Facebook: ", '\n')
print(facebook.head(3), '\n')
print("Data from Google: ", '\n')
print(google.head(3), '\n')
print("Data from a Company website: ", '\n')
print(company.head(3), '\n'*5)

Data from Facebook:

                    domain                                            address  \
0       euro-hygiene-34.fr  134 rue entrepreneurs, za du vigné, 30420, cal...
1  lakesidehomeservices.ca                                                NaN
2        rossiterboats.com                                                NaN

                                          categories       city country_code  \
0                                                NaN  calvisson           fr
1  Appliance Repair & Maintenance|Home Builders &...        NaN           ca
2        Boats & Yachts Dealers|Boat Tours & Cruises        NaN          NaN

  country_name                                        description  \
0       france                                                NaN
1          NaN                                                NaN
2          NaN  At Rossiter Boats we build semi-custom power b...

                    email                             link  \
0                     NaN       https://euro-hygiene-34.fr
1                     NaN  https://lakesidehomeservices.ca
2  info@rossiterboats.com         http://rossiterboats.com

                     name      page_type         phone phone_country_code  \
0            Euro Hygiène  LocalBusiness           NaN                NaN
1  Lakeside Home Services  LocalBusiness  1.613832e+10                 ca
2          Rossiter Boats  LocalBusiness           NaN                NaN

  region_code region_name zip_code
0         occ   occitanie    30420
1         NaN         NaN      NaN
2         NaN         NaN      NaN

Data from Google:

                                             address  \
0  28 Central Coast Hwy, West Gosford NSW 2250, A...
1   400 Scott St, St. Catharines, ON L2M 3W2, Canada
2      191 Pleasant St, Yarmouth, NS B5A 2J9, Canada

                            category            city country_code  \
0            Fabric-Based Home Goods         gosford           au
1                        Book Stores  st. catharines           ca
2  Other Building Material Retailers        yarmouth           ca

  country_name                           name         phone  \
0    australia         Spotlight West Gosford  +61243355946
1       canada  Heritage Christian Book Store  +19059374553
2       canada           Pleasant Timber Mart  +19027429181

  phone_country_code                                  raw_address  \
0                 au                  West Gosford NSW, Australia
1                 ca             400 Scott St · In Grantham Plaza
2                 ca  7+ years in business · Yarmouth, NS, Canada

         raw_phone region_code      region_name  \
0  +61 2 4335 5946         nsw  new south wales
1  +1 905-937-4553          on          ontario
2  +1 902-742-9181          ns      nova scotia

                                                text zip_code  \
0  4.1 (766) · Craft store West Gosford NSW, Aust...     2250
1  4.7 (100) · Book store 400 Scott St · In Grant...  l2m 3w2
2  4.7 (40) · Building materials store 7+ years i...  b5a 2j9

                domain
0  spotlightstores.com
1      bookmanager.com
2        timbermart.ca

Data from a Company website:

           root_domain domain_suffix language  \
0     converterman.com           NaN      NaN
1  clothesencounter.ca            ca       en
2       investa.com.au        com.au       en

                                   legal_name main_city main_country  \
0                                         NaN       NaN          NaN
1                                         NaN  cardigan       canada
2  Investa Wholesale Funds Management Limited  brisbane    australia

            main_region        phone               site_name  tld  \
0                   NaN          NaN                     NaN  NaN
1  prince edward island  13066937766       Clothes Encounter   ca
2            queensland  61282269300  Investa Property Group   au

                      s_category
0                            NaN
1  Shoes & Other Footwear Stores
2         Real Estate Developers

<a id="2" ></a>
## **Missing data**

In [3]:
def missing_data(df, df_name):
    total = df.isnull().sum().sort_values(ascending = False)
    percent = (df.isnull().sum() / df.shape[0] * 100).sort_values(ascending = False)
    
    result = pd.concat([total, percent], axis = 1, keys = ['Total values missing', 'Percent of missing data'])
    
    print(f"Missing data in {df_name} dataframe: \n {result} \n")
    
missing_data(facebook, 'Facebook')
missing_data(google, 'Google')
missing_data(company, 'Company')

Missing data in Facebook dataframe:
                     Total values missing  Percent of missing data
email                              51414                72.244158
description                        43978                61.795495
zip_code                           35544                49.944497
phone_country_code                 33616                47.235376
phone                              26818                37.683196
region_code                        26605                37.383900
region_name                        26605                37.383900
city                               26600                37.376874
country_name                       26302                36.958141
categories                         16574                23.288884
address                            14477                20.342293
country_code                       13976                19.638316
page_type                              4                 0.005621
domain                                 0                 0.000000
link                                   0                 0.000000
name                                   0                 0.000000

Missing data in Google dataframe:
                     Total values missing  Percent of missing data
phone_country_code                112821                32.520285
zip_code                           81279                23.428407
country_code                       51564                14.863155
category                           51063                14.718743
region_code                        44876                12.935361
region_name                        44871                12.933919
city                               44726                12.892124
country_name                       44690                12.881747
raw_address                        44016                12.687468
phone                              32136                 9.263097
raw_phone                          27948                 8.055920
address                            25610                 7.381999
text                                3514                 1.012899
name                                  32                 0.009224
domain                                 2                 0.000576

Missing data in Company dataframe:
                Total values missing  Percent of missing data
legal_name                    40029                55.581938
main_region                   11085                15.391985
main_city                     11052                15.346163
main_country                   7149                 9.926685
phone                          6378                 8.856119
language                       5192                 7.209309
site_name                      3304                 4.587742
s_category                     1384                 1.921742
tld                             261                 0.362409
domain_suffix                   118                 0.163848
root_domain                       1                 0.001389

<a id="3" ></a>
## **Keep only the most relevant columns and rename them across all the datasets / create filtered datasets**

In [4]:
# columns that I am most interested overall
columns_to_keep = [ 'name', 'category', 'country', 'country_code','region', 'city', 'zip_code', 'phone', 'address']

# rename the columns accross datasets to match
facebook.rename(columns = {'categories': 'category', 'country_name': 'country', 'region_name': 'region'}, inplace = True)
google.rename(columns  ={'country_name': 'country', 'region_name': 'region'}, inplace = True)
company.rename(columns = {'s_category': 'category', 'main_country': 'country', 'legal_name': 'name', 'main_city': 'city', 'main_region': 'region'}, inplace = True)

# create new df with specific columns
facebook_filtered = facebook[columns_to_keep]
google_filtered = google[columns_to_keep]
company_filtered = company[['name', 'category', 'region', 'city', 'country', 'phone']]

# check each dataset has the same common columns names
print(facebook_filtered.columns, '\n')
print(google_filtered.columns, '\n')
print(company_filtered.columns, '\n'*5)

# check missing data again, but for the filtered datasets

print("Missing data in the facebook dataframe: ")
print(missing_data(facebook_filtered, ''), '\n')

print("Missing data in the google dataframe: ")
print(missing_data(google_filtered, ''), '\n')

print("Missing data in the company dataframe: ")
print(missing_data(company_filtered, ''))

Index(['name', 'category', 'country', 'country_code', 'region', 'city',
       'zip_code', 'phone', 'address'],
      dtype='object')

Index(['name', 'category', 'country', 'country_code', 'region', 'city',
       'zip_code', 'phone', 'address'],
      dtype='object')

Index(['name', 'category', 'region', 'city', 'country', 'phone'], dtype='object')





Missing data in the facebook dataframe:
Missing data in  dataframe:
               Total values missing  Percent of missing data
zip_code                     35544                49.944497
phone                        26818                37.683196
region                       26605                37.383900
city                         26600                37.376874
country                      26302                36.958141
category                     16574                23.288884
address                      14477                20.342293
country_code                 13976                19.638316
name                             0                 0.000000

None

Missing data in the google dataframe:
Missing data in  dataframe:
               Total values missing  Percent of missing data
zip_code                     81279                23.428407
country_code                 51564                14.863155
category                     51063                14.718743
region                       44871                12.933919
city                         44726                12.892124
country                      44690                12.881747
phone                        32136                 9.263097
address                      25610                 7.381999
name                            32                 0.009224

None

Missing data in the company dataframe:
Missing data in  dataframe:
           Total values missing  Percent of missing data
name                     40029                55.581938
region                   11085                15.391985
city                     11052                15.346163
country                   7149                 9.926685
phone                     6378                 8.856119
category                  1384                 1.921742

None

In [5]:
def unique_names(df, df_name):
    count = df['name'].nunique()
    print(f"Unique names count in {df_name} dataset: {count}", '\n')

print("DATASETS DIMENSIONS: ")
print("FACEBOOK: :", facebook.shape[0], '\n')
print("GOOGLE: ", google.shape[0], '\n')
print("COMPANY: ", company.shape[0], '\n'*2)


unique_names(facebook_filtered, 'Facebook')
unique_names(google_filtered, 'Google')
unique_names(company_filtered, 'Company')

DATASETS DIMENSIONS:
FACEBOOK: : 71167

GOOGLE:  346925

COMPANY:  72018


Unique names count in Facebook dataset: 70999

Unique names count in Google dataset: 344398

Unique names count in Company dataset: 30619

In [6]:
print(facebook_filtered['phone'].sample(10))

61741             NaN
70978             NaN
34385    1.709489e+10
29229             NaN
23935             NaN
28718    1.780718e+10
24642    1.647547e+10
62212    1.519304e+10
4871              NaN
61833             NaN
Name: phone, dtype: float64

In [7]:
#facebook_filtered['phone'] = facebook_filtered['phone'].astype(str).replace('nan', np.nan)
facebook_filtered.loc[:, 'phone'] = facebook_filtered['phone'].astype(str).replace('nan', np.nan).astype(object)

/tmp/ipykernel_18/2193437390.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[nan '16138318840.0' nan ... '12703513222.0' '15197472256.0'
 '14167924420.0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  facebook_filtered.loc[:, 'phone'] = facebook_filtered['phone'].astype(str).replace('nan', np.nan).astype(object)

In [8]:
print(facebook_filtered['phone'].sample(10))

41015     15064588262.0
55027     14162222652.0
41818     12508772710.0
13066               NaN
16862    441162621151.0
68009               NaN
67263     14186942050.0
67431               NaN
48835     14162142002.0
36953     16042540354.0
Name: phone, dtype: object

In [9]:
# convert phone numbers to string and remove the trailing .0
facebook_filtered.loc[:, 'phone'] = facebook_filtered['phone'].astype(str).str.replace(r'\.0$', '', regex = True)

# convert nan strings back to NaN values (to maintain missing data integrity)
facebook_filtered.loc[:, 'phone'] = facebook_filtered['phone'].replace('nan', np.nan)

print(facebook_filtered['phone'].sample(10))

41419    15196542582
62417    14169649088
64251    13063817776
56019    97165260003
42636    78312817964
8401             NaN
11664            NaN
69895    15192683148
42935            NaN
47669            NaN
Name: phone, dtype: object

* All the datasets together contain 490 110 rows (with data regarding companies), out of which 450 049 (keeping in mind the missing data) are not null, out of which 446 016 are unique values. This means that the final dataset will have at most ~446k companies data. The closer to this number, the better.

<a id="4" ></a>
## **Duplicated rows in each dataset**

In [10]:
def remove_duplicates(df):
    initial_rows = df.shape[0]
    df = df.drop_duplicates()
    rows_after_removal = df.shape[0]
    return initial_rows - rows_after_removal

print('Duplicated rows removed from each dataset:')
print("Duplicates removed from Facebook:", remove_duplicates(facebook_filtered))
print("Duplicates removed from Google:", remove_duplicates(google_filtered))
print("Duplicates removed from Company:", remove_duplicates(company_filtered))

Duplicated rows removed from each dataset:
Duplicates removed from Facebook: 33
Duplicates removed from Google: 55
Duplicates removed from Company: 3208

## **Ideas to implement:**
- check unique values for countries to see if the names are gramatically correct and there are no inconsitencies with the lower/upper cases
- to keep in mind: the country code may be easily mapped to country if available
- noticed inconsistencies in the website.csv file in the phone number column (for eg. 4.13E+11) - convert those strange numbers to actual phone numbers
- consider a row valid only if these are not null: name, phone, country
- if the country is NaN but the phone number is provided, fill in the country by parsing the phone numbers and getting the prefix associated with it; then possibly populate the country column
- possible request to an API to get the region / city according to the address, then I can possibly populate those columns
- the main idea is to populate as many columns as possible

In [11]:
print(facebook_filtered.shape)
print(google_filtered.shape)
print(company_filtered.shape)

(71167, 9)
(346925, 9)
(72018, 6)

In [12]:
print(type(company_filtered))
print(company_filtered.columns)
print(company_filtered['country'].dtypes)

<class 'pandas.core.frame.DataFrame'>
Index(['name', 'category', 'region', 'city', 'country', 'phone'], dtype='object')
object

<a id="5" ></a>
## **Unique values for country**

In [13]:
# new series with nan values dropped from country column to check for unique values and make sure they are correct 
def unique_values(df, df_name, column):
    
    non_nan_values = df[column].dropna()
    unique_values = non_nan_values.unique()
    
    print(f'Unique values for {column} in {df_name}: {unique_values} \n')
    
unique_values(facebook_filtered, 'Facebook', 'country')
unique_values(google_filtered, 'Google', 'country')
unique_values(company_filtered, 'Company', 'country')

Unique values for country in Facebook: ['france' 'canada' 'australia' 'united states' 'peru' 'norway'
 'united arab emirates' 'singapore' 'netherlands' 'turkey'
 'trinidad and tobago' 'germany' 'spain' 'united kingdom' 'russia'
 'hong kong' 'south africa' 'bangladesh' 'morocco' 'malaysia'
 'south korea' 'poland' 'italy' 'gabon' 'greece' 'taiwan' 'switzerland'
 'sweden' 'romania' 'india' 'portugal' 'philippines' 'denmark' 'chile'
 'mexico' 'oman' 'new zealand' 'belgium' 'brazil' 'georgia' 'china'
 'mozambique' 'indonesia' 'ireland' 'qatar' 'pakistan' 'saudi arabia'
 'austria' 'vietnam' 'sri lanka' 'colombia' 'slovakia'
 'hashemite kingdom of jordan' 'ukraine' 'japan' 'ecuador' 'panama'
 'luxembourg' 'tajikistan' 'finland' 'liechtenstein' 'myanmar' 'kuwait'
 'egypt' 'hungary' 'israel' 'kosovo' 'thailand' 'costa rica' 'el salvador'
 'brunei' 'argentina' 'venezuela' 'bosnia and herzegovina' 'croatia'
 'estonia' 'czechia' 'mauritius' 'cambodia' 'zimbabwe' 'botswana'
 'paraguay' 'belarus' 'iceland' 'bulgaria' 'republic of lithuania'
 'u.s. virgin islands' 'nigeria' 'latvia' 'honduras' 'barbados' 'albania'
 'french polynesia' 'angola' 'gibraltar' 'serbia' 'togo' 'puerto rico'
 'dominican republic' 'nicaragua' 'namibia' 'réunion' 'lebanon'
 'uzbekistan' 'new caledonia' 'guam' 'iraq' 'slovenia'
 'republic of moldova' 'monaco' 'uganda' 'zambia' 'bolivia' 'senegal'
 'kyrgyzstan' 'armenia']

Unique values for country in Google: ['australia' 'canada' 'united states' 'malaysia' 'united kingdom'
 'belgium' 'france' 'turkey' 'new zealand' 'germany' 'qatar' 'japan'
 'hong kong' 'italy' 'south africa' 'romania' 'mexico' 'ecuador' 'uganda'
 'puerto rico' 'philippines' 'bosnia and herzegovina' 'pakistan' 'taiwan'
 'malta' 'brazil' 'andorra' 'saudi arabia' 'netherlands' 'spain'
 'slovenia' 'jamaica' 'bangladesh' 'india' 'benin' 'liberia' 'martinique'
 'russia' 'poland' 'china' 'albania' 'colombia' 'laos' 'greece' 'denmark'
 'united arab emirates' 'ukraine' 'guatemala' 'austria' 'south korea'
 'portugal' 'vietnam' 'bulgaria' 'belarus' 'czechia' 'norway' 'ireland'
 'croatia' 'el salvador' 'iraq' 'cuba' 'nicaragua' 'venezuela' 'hungary'
 'chile' 'thailand' 'finland' 'luxembourg' 'cambodia' 'sweden' 'zimbabwe'
 'switzerland' 'indonesia' 'burundi' 'guinea' 'egypt' 'oman' 'algeria'
 'peru' 'nigeria' 'ghana' 'sri lanka' 'singapore' 'argentina' 'guyana'
 'faroe islands' 'iceland' 'republic of lithuania' 'curaçao' 'guadeloupe'
 'honduras' 'sudan' 'bolivia' 'serbia' 'costa rica' 'papua new guinea'
 'dominican republic' 'panama' 'slovakia' 'nepal' 'lebanon' 'morocco'
 'bahamas' 'estonia' 'cameroon' 'ethiopia' 'latvia' 'u.s. virgin islands'
 'kyrgyzstan' 'georgia' 'libya' 'trinidad and tobago' 'vanuatu' 'malawi'
 'paraguay' 'madagascar' 'montenegro' 'botswana' 'north macedonia'
 'rwanda' 'tunisia' 'aruba' 'haiti' 'gabon' 'solomon islands' 'bahrain'
 'senegal' 'kazakhstan' 'brunei' 'republic of moldova' 'burkina faso'
 'mozambique' 'mauritania' 'zambia' 'belize' 'tajikistan' 'kuwait'
 'somalia' 'liechtenstein' 'israel' 'uzbekistan' 'afghanistan'
 'sint maarten' 'gambia' 'fiji' 'niger' 'armenia' 'tonga' 'uruguay'
 'azerbaijan' 'yemen' 'Åland' 'mali' 'togo' 'namibia' 'mauritius'
 'barbados' 'angola' 'suriname' 'myanmar' 'seychelles' 'saint lucia'
 'samoa' 'comoros' 'central african republic' 'maldives' 'sierra leone'
 'dominica' 'french polynesia' 'bhutan' 'guam' 'bermuda' 'kenya'
 'new caledonia' 'greenland' 'saint vincent and the grenadines'
 'south sudan' 'french guiana' 'lesotho' 'american samoa' 'iran' 'reunion'
 'guinea-bissau' 'isle of man' 'jersey' 'hashemite kingdom of jordan'
 'st kitts and nevis']

Unique values for country in Company: ['canada' 'australia' 'Canada' 'germany' 'united states' 'ireland'
 'malaysia' 'united kingdom' 'italy' 'netherlands' 'Taiwan'
 'united arab emirates' 'hong kong' 'brazil' 'bangladesh' 'Russia'
 'argentina' 'finland' 'russia' 'austria' 'india' 'japan' 'new zealand'
 'chile' 'Greece' 'latvia' 'Australia' 'greece' 'philippines' 'belgium'
 'Samoa' 'china' 'turkey' 'croatia' 'South Africa' 'Spain' 'Japan' 'Kenya'
 'saudi arabia' 'taiwan' 'south africa' 'vietnam' 'singapore' 'spain'
 'israel' 'qatar' 'norway' 'france' 'thailand' 'kuwait' 'Turkey' 'poland'
 'Malaysia' 'togo' 'Ireland' 'portugal' 'bulgaria' 'Colombia' 'costa rica'
 'colombia' 'switzerland' 'puerto rico' 'nigeria' 'Qatar' 'sweden'
 'czechia' 'south korea' 'afghanistan' 'India' 'Singapore' 'iraq'
 'bosnia and herzegovina' 'peru' 'hungary' 'Belgium' '9.02627E+11' 'vn'
 ',ca,Yoga Studios' '14505810251' 'ca' 'com' 'slovenia' 'senegal'
 'Bangladesh' 'sri lanka' 'indonesia' 'denmark' 'papua new guinea'
 'Netherlands' 'albania' 'guinea' 'Hong Kong' 'romania' 'South Korea'
 'mexico' 'tunisia' 'venezuela' 'kazakhstan' 'mauritius' 'Thailand'
 'Philippines' 'oman' 'Cyprus' 'namibia' 'nicaragua' 'Mexico' 'ukraine'
 'algeria' 'slovakia' 'nepal' 'Germany' 'Montenegro' 'uruguay' 'egypt'
 'Czechia' 'Romania' 'Guatemala' 'rwanda' 'Venezuela' 'Poland'
 'United Arab Emirates' 'liechtenstein' 'fiji' 'mali' 'ecuador' 'Ecuador'
 'serbia' 'benin' 'zimbabwe' 'british virgin islands' 'luxembourg'
 'New Zealand' 'el salvador' 'Costa Rica' 'bolivia' 'republic of moldova'
 'Turks and Caicos Islands' 'jamaica' 'belize' 'trinidad and tobago'
 'mozambique' 'Iraq' 'Anguilla' 'Vietnam' 'British Indian Ocean Territory'
 'Ukraine' 'United States' 'France' 'zambia' 'montenegro' 'guatemala'
 'botswana' 'belarus' 'pakistan' 'uzbekistan' 'Indonesia' 'cameroon'
 'Bolivia' 'bahrain' 'Chile' 'estonia' 'China' 'Italy' 'morocco'
 'north macedonia' 'Denmark' 'Switzerland' 'Saudi Arabia'
 'central african republic' 'Argentina' 'Hungary' 'Sri Lanka'
 'republic of lithuania' 'Tuvalu' 'Dominican Republic' 'monaco' 'laos'
 'dominican republic' 'Oman' '19056338118' '13065009983' '73832304679'
 '14036198966' '15198460191' '61294773500' '19142452186' 'honduras' 'guam'
 'hashemite kingdom of jordan' 'lebanon' 'french polynesia'
 'Breezeway Yachts' 'Brazil' 'myanmar' 'azerbaijan' 'vanuatu' 'Paraguay'
 'tw' '14039425370' '17602434343' 'missouri' 'ivory coast' 'bahamas'
 'Peru' 'ethiopia' 'Israel' '17054504440' '14185235213' '19055675400'
 'iceland' 'cuba' 'ghana' 'Austria' 'saint martin' 'Bulgaria' 'maldives'
 'Madagascar' 'tajikistan' 'barbados' 'san marino' 'angola'
 'u.s. virgin islands' 'Finland' 'uganda' 'Cocos [Keeling] Islands'
 'kenya' 'burundi' 'malawi' 'malta' 'paraguay' 'Kazakhstan' 'Georgia'
 'georgia' 'gabon' 'sint maarten' 'Panama' 'Tonga' 'kosovo' 'panama'
 'CuraÃ§ao' '904444949' 'north carolina' 'kyrgyzstan' 'aruba' 'libya'
 'new caledonia' 'Niue' 'texas' '18445358505' '56232012000' '4.41623E+11'
 'gibraltar' 'Malta' 'bonaire, sint eustatius, and saba' 'bermuda'
 'Albania' 'french guiana' 'cambodia' 'manitoba' '17809552401'
 '13069544119' '18198231141' '14507792852' ',' '81354135927' '17206896120'
 'Xi Yuan Chang Zhe Zhong Xin' '8.42344E+11' '9.02423E+11' '14032458008'
 '16138371020' '14167363663' '13062816518' '14168072253' '13067212045'
 '14035311500' 'faroe islands' 'Tanzania' 'brunei' 'Republic of Lithuania'
 'solomon islands' 'Sweden' 'haiti' 'greenland' 'bhutan' 'Kyrgyzstan'
 'armenia' 'El Salvador' 'Be Okay Massage' 'palestine'
 'Antigua and Barbuda' 'niger' 'Tunisia' 'Serbia']

<a id="6" ></a>
## **Clean the country column in Company dataset since some values are numerical**

In [14]:
# delete rows where there are non-string values for country column in company dataset
# regex matches letters (both lowercase and uppercase), $ asserts the end of the string, ensuring the entire string follows the pattern
company_filtered = company_filtered[company_filtered['country'].str.match(r'^[a-zA-Z]+(?:[ -][a-zA-Z]+)*$') | company_filtered['country'].isna()]

# some countries were upper cased
company_filtered['country'] = company_filtered['country'].str.lower()

# noticed a 001 value in the google dataset, in country code column and removed that row
google_filtered = google_filtered[google_filtered['country_code'] != '001']

unique_v = company_filtered['country'].dropna().unique()
print("Unique values for countries in company dataset after filtering: ", unique_v)

Unique values for countries in company dataset after filtering:  ['canada' 'australia' 'germany' 'united states' 'ireland' 'malaysia'
 'united kingdom' 'italy' 'netherlands' 'taiwan' 'united arab emirates'
 'hong kong' 'brazil' 'bangladesh' 'russia' 'argentina' 'finland'
 'austria' 'india' 'japan' 'new zealand' 'chile' 'greece' 'latvia'
 'philippines' 'belgium' 'samoa' 'china' 'turkey' 'croatia' 'south africa'
 'spain' 'kenya' 'saudi arabia' 'vietnam' 'singapore' 'israel' 'qatar'
 'norway' 'france' 'thailand' 'kuwait' 'poland' 'togo' 'portugal'
 'bulgaria' 'colombia' 'costa rica' 'switzerland' 'puerto rico' 'nigeria'
 'sweden' 'czechia' 'south korea' 'afghanistan' 'iraq'
 'bosnia and herzegovina' 'peru' 'hungary' 'vn' 'ca' 'com' 'slovenia'
 'senegal' 'sri lanka' 'indonesia' 'denmark' 'papua new guinea' 'albania'
 'guinea' 'romania' 'mexico' 'tunisia' 'venezuela' 'kazakhstan'
 'mauritius' 'oman' 'cyprus' 'namibia' 'nicaragua' 'ukraine' 'algeria'
 'slovakia' 'nepal' 'montenegro' 'uruguay' 'egypt' 'guatemala' 'rwanda'
 'liechtenstein' 'fiji' 'mali' 'ecuador' 'serbia' 'benin' 'zimbabwe'
 'british virgin islands' 'luxembourg' 'el salvador' 'bolivia'
 'republic of moldova' 'turks and caicos islands' 'jamaica' 'belize'
 'trinidad and tobago' 'mozambique' 'anguilla'
 'british indian ocean territory' 'zambia' 'botswana' 'belarus' 'pakistan'
 'uzbekistan' 'cameroon' 'bahrain' 'estonia' 'morocco' 'north macedonia'
 'central african republic' 'republic of lithuania' 'tuvalu'
 'dominican republic' 'monaco' 'laos' 'honduras' 'guam'
 'hashemite kingdom of jordan' 'lebanon' 'french polynesia'
 'breezeway yachts' 'myanmar' 'azerbaijan' 'vanuatu' 'paraguay' 'tw'
 'missouri' 'ivory coast' 'bahamas' 'ethiopia' 'iceland' 'cuba' 'ghana'
 'saint martin' 'maldives' 'madagascar' 'tajikistan' 'barbados'
 'san marino' 'angola' 'uganda' 'burundi' 'malawi' 'malta' 'georgia'
 'gabon' 'sint maarten' 'panama' 'tonga' 'kosovo' 'north carolina'
 'kyrgyzstan' 'aruba' 'libya' 'new caledonia' 'niue' 'texas' 'gibraltar'
 'bermuda' 'french guiana' 'cambodia' 'manitoba'
 'xi yuan chang zhe zhong xin' 'faroe islands' 'tanzania' 'brunei'
 'solomon islands' 'haiti' 'greenland' 'bhutan' 'armenia'
 'be okay massage' 'palestine' 'antigua and barbuda' 'niger']

<a id="7" ></a>
## **Unique values for country code to check the format (2 or 3 letters)**

In [15]:
unique_values(facebook_filtered, 'Facebook', 'country_code')
unique_values(google_filtered, 'Google', 'country_code')

Unique values for country_code in Facebook: ['fr' 'ca' 'au' 'gb' 'us' 'pe' 'de' 'no' 'ae' 'sg' 'nl' 'tr' 'tt' 'nz'
 'es' 'ru' 'hk' 'za' 'bd' 'ma' 'my' 'jp' 'kr' 'pl' 'be' 'it' 'ga' 'gr'
 'tw' 'ch' 'se' 'cr' 'ro' 'gt' 'in' 'pt' 'ph' 'dk' 'cl' 'mx' 'om' 'bs'
 'br' 'ge' 'ec' 'cn' 'qa' 'mz' 'id' 'ie' 'ar' 'pk' 'sa' 'lk' 'at' 'vn'
 'co' 'pa' 'sk' 'jo' 'mk' 'ua' 'cz' 'th' 'lu' 'tj' 'fi' 'il' 'li' 'mm'
 'kw' 'eg' 'hu' 'mo' 'xk' 'sv' 'bn' 've' 'ba' 'vg' 'hr' 'ee' 'mu' 'kh'
 'pr' 'jm' 'zw' 'iq' 'gy' 'bw' 'py' 'by' 'is' 'bg' 'lt' 'bz' 'vi' 'ng'
 'lv' 'uy' 'hn' 'bb' 'al' 'pf' 'ao' 'gi' 'rs' 'tg' 'do' 'ni' 're' 'lb'
 'uz' 'nc' 'fo' 'gu' 'si' 'md' 'mc' 'ug' 'zm' 'bh' 'np' 'mt' 'bo' 'sn'
 'sx' 'kg' 'am' 'ke']

Unique values for country_code in Google: ['au' 'ca' 'us' 'my' 'be' 'fr' 'gb' 'tr' 'id' 'nz' 'in' 'qa' 'de' 'jp'
 'hk' 'it' 'za' 'pl' 'ro' 'mx' 'ec' 'ug' 'pr' 'mm' 'ba' 'pk' 'mt' 'br'
 'ad' 'lu' 'bb' 'th' 'kr' 'sa' 'sg' 'nl' 'es' 'si' 'jm' 'bd' 'bj' 'lr'
 'mq' 'ru' 'tw' 'ke' 'vn' 'ae' 'ie' 'cn' 'al' 'co' 'la' 'dk' 'ua' 'gt'
 'pt' 'at' 'ph' 'bg' 'by' 'lk' 'cz' 'ps' 'no' 'hr' 'cr' 'mk' 'sv' 'iq'
 'do' 'cu' 'ni' 'et' 'kw' 'hu' 've' 'cl' 'fi' 'kh' 'jo' 'se' 'gr' 'zw'
 'md' 'ch' 'bi' 'gn' 'dz' 'gg' 'pe' 'ng' 'gh' 'tn' 'cy' 'eg' 'om' 'ar'
 'gy' 'uy' 'tz' 'gl' 'fo' 'lb' 'is' 'lt' 'cw' 'hn' 'sd' 'bo' 'rs' 'bh'
 'pg' 'pa' 'ag' 'sk' 'np' 'ma' 'bs' 'ee' 'cm' 'je' 'tt' 'lv' 'vi' 'kg'
 'ge' 'ly' 'vu' 'mw' 'py' 'il' 'cv' 'mg' 'me' 'bw' 'rw' 'aw' 'ht' 'mh'
 'bm' 'ga' 'sb' 'sn' 'kz' 'sy' 'vc' 'bn' 'bf' 'mz' 'sx' 'mr' 'zm' 'dj'
 'ky' 'tj' 'ai' 'mv' 'so' 'lc' 'li' 'mn' 'uz' 'af' 'kn' 'gm' 'fj' 'na'
 'ne' 'mc' 'ir' 'am' 'to' 'cd' 'gp' 'xk' 'ml' 'az' 'sc' 'mu' 'ye' 'mo'
 'tm' 'tg' 'bz' 'bq' 'ao' 'kp' 'sr' 'tl' 'ws' 'km' 'cf' 'bl' 'sl' 'gi'
 'dm' 'nr' 'pf' 'bt' 'gu' 'sz' 'vg' 'gd' 'td' 'ss' 'gf' 'ls' 'as' 'gw'
 'im' 'ci']

<a id="8" ></a>
## **Reformat phone numbers in Company dataset**

In [16]:
def check_phone_format(df, df_name, column):
    # regex pattern to match phone format: 4.31E+11
    pattern = r'^\d+\.\d{2}E\+\d{2}$'

    invalid_ph = df[df[column].astype(str).str.match(pattern, na = False)]

    if len(invalid_ph) > 0:
        
        print(f"Invalid phone numbers found in: {df_name}: {len(invalid_ph)}")
    else:
        print(f"No invalid phone numbers found in: {df_name}")

check_phone_format(facebook_filtered, 'Facebook', 'phone')
check_phone_format(google_filtered, 'Google', 'phone')
check_phone_format(company_filtered, 'Company', 'phone')

No invalid phone numbers found in: Facebook
No invalid phone numbers found in: Google
Invalid phone numbers found in: Company: 5119

In [17]:
float_n = float('4.31E+11')
print(float_n, '\n')

int_n = int(float_n)
print(int_n, '\n')

str_n = str(int_n)
print(str_n, '\n')
print(type(str_n))

431000000000.0

431000000000

431000000000

<class 'str'>

* Phone numbers with a strange format (for eg. 4.31E+11) in the phone column in the company dataset will be formated thusly: convert column to float to handle scientific notation, then to int, and finally to string (without scientific notation)

In [18]:
def format_phone(df, column):
    # extract the scientific notation numbers (check if the value is a string containing E+)
    # convert them to float, then to integers
    # format the integers as strings without scientific notation
    df[column] = df[column].apply(lambda x: str(int(float(x))) if (isinstance(x, str) and 'E+' in x) else x)
    
    return df

company_filtered = format_phone(company_filtered, 'phone')

check_phone_format(company_filtered, 'Company', 'phone')

No invalid phone numbers found in: Company

In [19]:
facebook_filtered['phone'].sample(10)

10647    81120506204
56658    17635061000
69426    16132580772
63243    16472600580
61772    81332152111
19996            NaN
68488    17804444556
20878    14165714792
67006    12043360801
37046            NaN
Name: phone, dtype: object

In [20]:
google_filtered['phone'].sample(10)

28617      +15197411447
74370      +14506564510
190645     +18885787275
203882     +61295921611
325121     +14174254387
115562     +16193973778
28490      +17144565433
331913     +12672220634
253482    +393334135995
286445     +14795512517
Name: phone, dtype: object

In [21]:
company_filtered['phone'].sample(10)

2551      17805711100
63229     16138800880
15092     12024822000
49315     19054929200
63277     14032537454
15929     12564893700
46836     14167407932
51963    611000000000
7838      18479997211
27191     16474778192
Name: phone, dtype: object

In [22]:
#print(company_filtered['phone'].sample(50))

* Given the missing values and my reasoning, the phone number, country, city, category and name columns are the least absent one, which adds up to the assumption that rows are valid if these columns are filled in
* Asumming that phone numbers associated with the company names are correct, the final dataset will contain data joined given the phone number; the other columns will be filled in presumably using region/ zip code column/ country code/ city columns

<a id="9" ></a>
## **Dictionary with phone prefix as key and country code and country name as values**

In [23]:
!pip install phonenumbers
!pip install pycountry

Collecting phonenumbers
  Downloading phonenumbers-8.13.34-py2.py3-none-any.whl.metadata (11 kB)
Downloading phonenumbers-8.13.34-py2.py3-none-any.whl (2.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 34.7 MB/s eta 0:00:00
Installing collected packages: phonenumbers
Successfully installed phonenumbers-8.13.34
Collecting pycountry
  Downloading pycountry-23.12.11-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-23.12.11-py3-none-any.whl (6.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.2/6.2 MB 50.3 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-23.12.11

In [24]:
# dictionary with phone prefix as key and country code and country name as values

import phonenumbers
import phonenumbers as pn
import pycountry

phone_dict = {
    pn.country_code_for_region(c.alpha_2): (c.alpha_2.lower(), c.name.lower())
    for c in pycountry.countries
}

# dictionary with country code as key and phone prefix as value
# ph_dict = {c.alpha_2: pn.country_code_for_region(c.alpha_2) for c in pycountry.countries}
# phone_dict = {key.lower(): value for key, value in ph_dict.items()}

print(phone_dict)

{297: ('aw', 'aruba'), 93: ('af', 'afghanistan'), 244: ('ao', 'angola'), 1: ('vi', 'virgin islands, u.s.'), 358: ('fi', 'finland'), 355: ('al', 'albania'), 376: ('ad', 'andorra'), 971: ('ae', 'united arab emirates'), 54: ('ar', 'argentina'), 374: ('am', 'armenia'), 0: ('um', 'united states minor outlying islands'), 61: ('cx', 'christmas island'), 43: ('at', 'austria'), 994: ('az', 'azerbaijan'), 257: ('bi', 'burundi'), 32: ('be', 'belgium'), 229: ('bj', 'benin'), 599: ('cw', 'curaçao'), 226: ('bf', 'burkina faso'), 880: ('bd', 'bangladesh'), 359: ('bg', 'bulgaria'), 973: ('bh', 'bahrain'), 387: ('ba', 'bosnia and herzegovina'), 590: ('mf', 'saint martin (french part)'), 375: ('by', 'belarus'), 501: ('bz', 'belize'), 591: ('bo', 'bolivia, plurinational state of'), 55: ('br', 'brazil'), 673: ('bn', 'brunei darussalam'), 975: ('bt', 'bhutan'), 267: ('bw', 'botswana'), 236: ('cf', 'central african republic'), 41: ('ch', 'switzerland'), 56: ('cl', 'chile'), 86: ('cn', 'china'), 225: ('ci', "côte d'ivoire"), 237: ('cm', 'cameroon'), 243: ('cd', 'congo, the democratic republic of the'), 242: ('cg', 'congo'), 682: ('ck', 'cook islands'), 57: ('co', 'colombia'), 269: ('km', 'comoros'), 238: ('cv', 'cabo verde'), 506: ('cr', 'costa rica'), 53: ('cu', 'cuba'), 357: ('cy', 'cyprus'), 420: ('cz', 'czechia'), 49: ('de', 'germany'), 253: ('dj', 'djibouti'), 45: ('dk', 'denmark'), 213: ('dz', 'algeria'), 593: ('ec', 'ecuador'), 20: ('eg', 'egypt'), 291: ('er', 'eritrea'), 212: ('ma', 'morocco'), 34: ('es', 'spain'), 372: ('ee', 'estonia'), 251: ('et', 'ethiopia'), 679: ('fj', 'fiji'), 500: ('fk', 'falkland islands (malvinas)'), 33: ('fr', 'france'), 298: ('fo', 'faroe islands'), 691: ('fm', 'micronesia, federated states of'), 241: ('ga', 'gabon'), 44: ('je', 'jersey'), 995: ('ge', 'georgia'), 233: ('gh', 'ghana'), 350: ('gi', 'gibraltar'), 224: ('gn', 'guinea'), 220: ('gm', 'gambia'), 245: ('gw', 'guinea-bissau'), 240: ('gq', 'equatorial guinea'), 30: ('gr', 'greece'), 299: ('gl', 'greenland'), 502: ('gt', 'guatemala'), 594: ('gf', 'french guiana'), 592: ('gy', 'guyana'), 852: ('hk', 'hong kong'), 504: ('hn', 'honduras'), 385: ('hr', 'croatia'), 509: ('ht', 'haiti'), 36: ('hu', 'hungary'), 62: ('id', 'indonesia'), 91: ('in', 'india'), 246: ('io', 'british indian ocean territory'), 353: ('ie', 'ireland'), 98: ('ir', 'iran, islamic republic of'), 964: ('iq', 'iraq'), 354: ('is', 'iceland'), 972: ('il', 'israel'), 39: ('va', 'holy see (vatican city state)'), 962: ('jo', 'jordan'), 81: ('jp', 'japan'), 7: ('ru', 'russian federation'), 254: ('ke', 'kenya'), 996: ('kg', 'kyrgyzstan'), 855: ('kh', 'cambodia'), 686: ('ki', 'kiribati'), 82: ('kr', 'korea, republic of'), 965: ('kw', 'kuwait'), 856: ('la', "lao people's democratic republic"), 961: ('lb', 'lebanon'), 231: ('lr', 'liberia'), 218: ('ly', 'libya'), 423: ('li', 'liechtenstein'), 94: ('lk', 'sri lanka'), 266: ('ls', 'lesotho'), 370: ('lt', 'lithuania'), 352: ('lu', 'luxembourg'), 371: ('lv', 'latvia'), 853: ('mo', 'macao'), 377: ('mc', 'monaco'), 373: ('md', 'moldova, republic of'), 261: ('mg', 'madagascar'), 960: ('mv', 'maldives'), 52: ('mx', 'mexico'), 692: ('mh', 'marshall islands'), 389: ('mk', 'north macedonia'), 223: ('ml', 'mali'), 356: ('mt', 'malta'), 95: ('mm', 'myanmar'), 382: ('me', 'montenegro'), 976: ('mn', 'mongolia'), 258: ('mz', 'mozambique'), 222: ('mr', 'mauritania'), 596: ('mq', 'martinique'), 230: ('mu', 'mauritius'), 265: ('mw', 'malawi'), 60: ('my', 'malaysia'), 262: ('re', 'réunion'), 264: ('na', 'namibia'), 687: ('nc', 'new caledonia'), 227: ('ne', 'niger'), 672: ('nf', 'norfolk island'), 234: ('ng', 'nigeria'), 505: ('ni', 'nicaragua'), 683: ('nu', 'niue'), 31: ('nl', 'netherlands'), 47: ('sj', 'svalbard and jan mayen'), 977: ('np', 'nepal'), 674: ('nr', 'nauru'), 64: ('nz', 'new zealand'), 968: ('om', 'oman'), 92: ('pk', 'pakistan'), 507: ('pa', 'panama'), 51: ('pe', 'peru'), 63: ('ph', 'philippines'), 680: ('pw', 'palau'), 675: ('pg', 'papua new guinea'), 48: ('pl', 'poland'), 850: ('kp', "korea, democratic people's republic of"), 351: ('pt', 'portugal'), 595: ('py', 'paraguay'), 970: ('ps', 'palestine, state of'), 689: ('pf', 'french polynesia'), 974: ('qa', 'qatar'), 40: ('ro', 'romania'), 250: ('rw', 'rwanda'), 966: ('sa', 'saudi arabia'), 249: ('sd', 'sudan'), 221: ('sn', 'senegal'), 65: ('sg', 'singapore'), 290: ('sh', 'saint helena, ascension and tristan da cunha'), 677: ('sb', 'solomon islands'), 232: ('sl', 'sierra leone'), 503: ('sv', 'el salvador'), 378: ('sm', 'san marino'), 252: ('so', 'somalia'), 508: ('pm', 'saint pierre and miquelon'), 381: ('rs', 'serbia'), 211: ('ss', 'south sudan'), 239: ('st', 'sao tome and principe'), 597: ('sr', 'suriname'), 421: ('sk', 'slovakia'), 386: ('si', 'slovenia'), 46: ('se', 'sweden'), 268: ('sz', 'eswatini'), 248: ('sc', 'seychelles'), 963: ('sy', 'syrian arab republic'), 235: ('td', 'chad'), 228: ('tg', 'togo'), 66: ('th', 'thailand'), 992: ('tj', 'tajikistan'), 690: ('tk', 'tokelau'), 993: ('tm', 'turkmenistan'), 670: ('tl', 'timor-leste'), 676: ('to', 'tonga'), 216: ('tn', 'tunisia'), 90: ('tr', 'türkiye'), 688: ('tv', 'tuvalu'), 886: ('tw', 'taiwan, province of china'), 255: ('tz', 'tanzania, united republic of'), 256: ('ug', 'uganda'), 380: ('ua', 'ukraine'), 598: ('uy', 'uruguay'), 998: ('uz', 'uzbekistan'), 58: ('ve', 'venezuela, bolivarian republic of'), 84: ('vn', 'viet nam'), 678: ('vu', 'vanuatu'), 681: ('wf', 'wallis and futuna'), 685: ('ws', 'samoa'), 967: ('ye', 'yemen'), 27: ('za', 'south africa'), 260: ('zm', 'zambia'), 263: ('zw', 'zimbabwe')}

In [25]:
#facebook_filtered['category'].sample(10)

<a id="10" ></a>
## **Missing name column in Google dataset**

In [26]:
# print columns in google dataset where name is missing
missing_name_rows = google_filtered[google_filtered['name'].isna()]
missing_name_rows

,name,category,country,country_code,region,city,zip_code,phone,address
5954,NaN,"Executive, Legislative & Government Institutions",NaN,us,NaN,NaN,NaN,NaN,NaN
34448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75503,NaN,Middle Schools,NaN,us,NaN,NaN,NaN,NaN,NaN
83092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107259,NaN,Nursing & Personal Care,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196959,NaN,Employment Agencies & HR Consulting,NaN,us,NaN,NaN,NaN,NaN,NaN
198835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210852,NaN,Heating & Air Conditioning,canada,ca,ontario,arnprior,k7s 2n5,+16136232665,"111 John St N, Arnprior, ON K7S 2N5, Canada"
219700,NaN,NaN,NaN,us,NaN,NaN,NaN,NaN,NaN
239997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241880,NaN,Market Research & Opinion Polling,NaN,us,NaN,NaN,NaN,NaN,NaN
242094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246051,NaN,"Executive, Legislative & Government Institutions",NaN,us,NaN,NaN,NaN,NaN,NaN
255963,NaN,Nursing & Personal Care,NaN,us,NaN,NaN,NaN,NaN,NaN
260853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278836,NaN,"Executive, Legislative & Government Institutions",NaN,NaN,NaN,NaN,NaN,NaN,NaN
280488,NaN,"Sports & Leisure - Clubs, Fields & Pitches",NaN,NaN,NaN,NaN,NaN,NaN,NaN
283904,NaN,"Executive, Legislative & Government Institutions",NaN,NaN,NaN,NaN,NaN,NaN,NaN
292368,NaN,Clinics - Surgeons & Physicians,united states,NaN,texas,fort worth,76102,+18178828700,"2500 West Fwy, Fort Worth, TX 76102"
308208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321089,NaN,"Paints, Coatings, Dyes & Pigments",NaN,NaN,NaN,NaN,NaN,NaN,NaN
342645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<a id="11" ></a>
## **Delete rows where all other columns are empty except for name and category across all datasets**

In [27]:
# delete rows where all other columns are empty except for name and category in the datasets
conditions = (facebook_filtered['name'].notna()) & (facebook_filtered['category'].notna()) & (facebook_filtered.drop(['name', 'category'], axis = 1).isna().all(axis = 1))

facebook_filtered = facebook_filtered[~ conditions] # select the rows that do not meet the requirement 


conditions = (google_filtered['name'].notna()) & (google_filtered['category'].notna()) & (google_filtered.drop(['name', 'category'], axis = 1).isna().all(axis = 1))

google_filtered = google_filtered[~ conditions] 


conditions = (company_filtered['name'].notna()) & (company_filtered['category'].notna()) & (company_filtered.drop(['name', 'category'], axis = 1).isna().all(axis = 1))

company_filtered = company_filtered[~ conditions] 

print(facebook_filtered.shape)
print(google_filtered.shape)
print(company_filtered.shape)

(65303, 9)
(344036, 9)
(64827, 6)

* Now, all the data has name, category and at least one other column not empty. 
* But if the columns country/country code together with the phone are not provided, then it wouldn't make sense to keep those rows since we don't have information to access to get further interested in contacting the company.
* If the phone number is provided, country/country code will be filled in based on the phone_dict dictionary defined above.

<a id="12" ></a>
## **Add '+' at the beginning of the phone number and set it as NaN if it's not valid**

* In case there are other values in the phone column other than actual phone numbers.

In [28]:
# add + sign to phone numbers where there is none and check if the value is a string (isinstance(x, str)) before applying the startswith() method
# then convert the value to a string to handle nan values, as nan values are represented as floats in pandas df

def add_plus(df, column):
    
    df[column] = df[column].apply(lambda x: '+' + str(x) if (isinstance(x, str) and not x.startswith('+')) else x)
    
    
add_plus(facebook_filtered, 'phone')
add_plus(google_filtered, 'phone')
add_plus(company_filtered, 'phone')

In [29]:
company_filtered['phone'].sample(10)

13414      +15873334433
51150               NaN
63899      +14036714727
37699      +15148998776
58961    +8620000000000
60001      +14072790080
67119      +74991781685
36128      +12084764571
8103       +12896274704
31670       +6563195865
Name: phone, dtype: object

In [30]:
facebook_filtered['phone'].sample(10)

14912             NaN
21644    +13069563211
15647             NaN
55909             NaN
16899    +16056263011
13063             NaN
67065    +12045050760
31491             NaN
48853    +16479228493
37695             NaN
Name: phone, dtype: object

In [31]:
google_filtered['phone'].sample(10)

293555             NaN
304602    +19802127020
72531     +15146459207
259479             NaN
77783     +16479930979
297990    +15199413242
117156             NaN
59038     +38514642200
345446    +16177270980
119552    +13613605581
Name: phone, dtype: object

In [32]:
import re 

def valid_phone_simple(df, column):
    
    # regex to check for a leading '+' followed by digits
    pattern = r'^\+\d+'
    
    # validation check
    df[column] = df[column].apply(lambda x: x if isinstance(x, str) and re.match(pattern, x) else np.nan)
    

valid_phone_simple(facebook_filtered, 'phone')
valid_phone_simple(google_filtered, 'phone')
valid_phone_simple(company_filtered, 'phone')

In [33]:
facebook_filtered['phone'].sample(10)

6490     +16133540264
59046             NaN
2955     +14164994111
4089     +18556858900
58001    +16473477619
70465    +17802449930
3671     +19057073400
54724    +19059653318
57892    +16035363900
19135    +19058290724
Name: phone, dtype: object

<a id="13" ></a>
## **Fill in the country/country code based on phone number if provided**

* parse the phone number in phone column to get the country code; make sure they all start with +
* use this country code to look up the country name and country code in the phone_dict
* fill in the information in the datasets

In [34]:
# fill missing values in the country column based on the phone prefix, and overwrite them if they are not correct but match the prefix 
import phonenumbers 

def fill_missing_countries(row):
    
    if pd.isna(row['phone']):
        return row
    
    try:
        # parse the ph no
        phone_number = phonenumbers.parse(row['phone'])
        
        # extract country code from the ph no
        country_code = phone_number.country_code
        
        if country_code in phone_dict:
            # check in phone dict
            country_c, country_name = phone_dict[country_code] # extract the country code and name from the dictionry
            
            # fill missing country name or overwrite incorrect ones based on the assumptions the phone number is correct
            if pd.isna(row['country']) or row['country'] != country_name:
                row['country'] = country_name
                
            # fill missing county code or incorrect ones
            if pd.isna(row['country_code']) or row['country_code'] != country_c:
                row['country_code'] = country_c
                
    except Exception as e:
        print(f"Error processing phone number {row['phone']}: {e}")
    
    return row

print("Number of valid values in country column before mapping using phone prefix: ", facebook_filtered['country'].notna().sum(), '\n')

facebook_filtered = facebook_filtered.apply(fill_missing_countries, axis = 1)

print("Number of valid values in country column after mapping using phone prefix: ", facebook_filtered['country'].notna().sum(), '\n')

#print(facebook_filtered.sample(10))

Number of valid values in country column before mapping using phone prefix:  44865

Number of valid values in country column after mapping using phone prefix:  57181

* Number of valid values increased in the country column, which means that the mapping using the phone prefix worked.

In [35]:
print("Number of valid values in country column before mapping using phone prefix: ", google_filtered['country'].notna().sum(), '\n')

google_filtered = google_filtered.apply(fill_missing_countries, axis = 1)

print("Number of valid values in country column after mapping using phone prefix: ", google_filtered['country'].notna().sum())

Number of valid values in country column before mapping using phone prefix:  302233

Number of valid values in country column after mapping using phone prefix:  336587

* I had errors with processing the country column the same way in the company dataset, therefore, I checked if there are country values missing but I did not assume that the phone prefixes were well matched with their respective countries. However, assuming that the phone number (or at least the phone prefix is correct), I checked if it matches the country value in the phone_dict (that is supposed to have been accurately generated).

In [36]:
company_filtered.shape[0]

64827

In [37]:
# check for missing values in the phone column
missing_phone = company_filtered['phone'].isna().sum()
print(f"Missing values in phone column in Company dataset: {missing_phone}")

# check for missing values in the country column
missing_country = company_filtered['country'].isna().sum()
print(f"Missing values in country column in Company dataset: {missing_country}")

Missing values in phone column in Company dataset: 3422
Missing values in country column in Company dataset: 0

In [38]:
# sample of the country and phone columns
sample_data = company_filtered[['country', 'phone']].sample(10)
print(sample_data)

             country          phone
2898   united states   +18089528400
17575  united states   +18888705960
12345         greece  +302000000000
42798         canada   +14166791000
12796         taiwan   +88648341014
11793         canada   +16478693434
51111         canada   +18254120500
2068          canada   +13069340573
859    united states   +14052822489
48042      australia   +61429951234

In [39]:
# counter for mismatched phone numbers with respective countries 
mismatch_count = 0


# iterate over each row in the df
for index, row in company_filtered.iterrows():
    
    phone_number = str(row['phone'])  
    country_name = row['country']  

    found = False
    correct_country_code = None    
    correct_country_name = None
    for prefix, (country_code, name) in phone_dict.items():
        # if the country name is in the phone_dict
        if name.lower() == country_name.lower():
            found = True
            phone_code = prefix
            correct_country_code = country_code  
            correct_country_name = name    
            break
    
    # if a matching country name was found in the dictionary
    if found and phone_code is not None:
        # check if the phone number starts with the country dialing code
        if not phone_number.startswith('+' + str(phone_code)):
            mismatch_count += 1
#             company_filtered.at[index, 'country'] = correct_country_name
#             company_filtered.at[index, 'country_code'] = correct_country_code

print(f"Total mismatched phone numbers: {mismatch_count}")

Total mismatched phone numbers: 2826

* It seems that the phone numbers and countries in the company dataset should look good.

In [40]:
# check if the processing error makes sense, encountered in the company dataset
phone_number = phonenumbers.parse("+13066937766")

# Get the country information
country_name = phonenumbers.region_code_for_number(phone_number)
print("Country:", country_name)

Country: CA

### Fill missing country based on region if provided - another idea, eventually not implemented because phone numbers were used instead as reference

*  reverse look up in the country_subdivisions_dict: search through the values of the dictionary for each country to find a match or partial match with the provided region
* use the corresponding key, which is the country code, to fill in the missing country

In [41]:
# subdivisions = pycountry.subdivisions.get(country_code = 'us')
# for subdivision in subdivisions:
#     print(subdivision.name)

### Dictionary to hold country code to subdivisions mapping

In [42]:
# # dictionary to hold country code to subdivisions mapping

# country_subdivisions_dict = {}

# # loop through all countries provided by pycountry
# for country in pycountry.countries:
#     # subdivisions for the current country
#     subdivisions = pycountry.subdivisions.get(country_code = country.alpha_2)
    
#     # check if there are subdivisions defined
#     if subdivisions:
#         # store the subdivisions in the dictionary, using the country code as the key
#         # convert subdivision names to lowercase for consistency
#         country_subdivisions_dict[country.alpha_2.lower()] = [sub.name.lower() for sub in subdivisions]

# # eg
# print(country_subdivisions_dict.get('us'))

In [43]:
# def fill_missing_country_based_on_region(row):
    
#     # go on only if country is missing and region is provided
#     if pd.isna(row['country']) and not pd.isna(row['region']):
        
#         region_provided = row['region'].lower()
        
#         for country_code, subdivisions in country_subdivisions_dict.items():
            
#             if region_provided in subdivisions:
#                 # if exact match found
#                 country = pycountry.countries.get(alpha_2=country_code.upper())
#                 if country:
#                     row['country'] = country.name.lower()  # the full country name via pycountry
#                 break
#             else:
#                 # check for partial match
#                 for subdivision in subdivisions:
#                     if region_provided in subdivision:
#                         # partial match found
#                         country = pycountry.countries.get(alpha_2 = country_code.upper())
#                         if country:
#                             row['country'] = country.name.lower()  # set the full country name in lowercase
#                         break
                
#     return row

# facebook_filtered = facebook_filtered.apply(fill_missing_country_based_on_region, axis = 1)
# google_filtered = google_filtered.apply(fill_missing_country_based_on_region, axis = 1)
# company_filtered = company_filtered.apply(fill_missing_country_based_on_region, axis = 1)

* Now, if phone is provided, country and country code should be filled in (but country column is prioritary).

In [44]:
print('Facebook: ')
country_count = facebook_filtered['country'].count()
print("Number of not null values in the 'country' column:", country_count)

country_code_count = facebook_filtered['country_code'].count()
print("Number of not null values in the 'country code' column:", country_code_count)

phone_count = facebook_filtered['phone'].count()
print("Number of not null values in the 'phone' column:", phone_count, '\n')

print('Google: ')
country_count = google_filtered['country'].count()
print("Number of not null values in the 'country' column:", country_count)

country_code_count = google_filtered['country_code'].count()
print("Number of not null values in the 'country code' column:", country_code_count)

phone_count = google_filtered['phone'].count()
print("Number of not null values in the 'phone' column:", phone_count, '\n')

print('Company: ')
country_count = company_filtered['country'].count()
print("Number of not null values in the 'country' column:", country_count)

phone_count = company_filtered['phone'].count()
print("Number of not null values in the 'phone' column:", phone_count)

Facebook:
Number of not null values in the 'country' column: 57181
Number of not null values in the 'country code' column: 57192
Number of not null values in the 'phone' column: 44349

Google:
Number of not null values in the 'country' column: 336587
Number of not null values in the 'country code' column: 329568
Number of not null values in the 'phone' column: 314785

Company:
Number of not null values in the 'country' column: 64827
Number of not null values in the 'phone' column: 61405

* Finally, the number of non-null phone numbers will represent the maximum number of rows/countries/company names.

<a id="14" ></a>
## **Check if there are still rows where phone, name, category and country are not bot provided and remove them**

In [45]:
print("DATASETS DIMENSIONS BEFORE: ")
print("FACEBOOK: :", facebook_filtered.shape, '\n')
print("GOOGLE: ", google_filtered.shape, '\n')
print("COMPANY: ", company_filtered.shape, '\n'*2)

conditions_facebook = (
    ((facebook_filtered['country'].notna()) & (facebook_filtered['phone'].notna()) & (facebook_filtered['name'].notna()) & (facebook_filtered['category'].notna()))
)

facebook_filtered = facebook_filtered[conditions_facebook]


conditions_google = (
    ((google_filtered['country'].notna()) & (google_filtered['phone'].notna()) & (google_filtered['name'].notna()) & (google_filtered['category'].notna()))
)

google_filtered = google_filtered[conditions_google]


conditions_company = (
    ((company_filtered['country'].notna()) & (company_filtered['phone'].notna()) & (company_filtered['name'].notna()) & (company_filtered['category'].notna()))
)

company_filtered = company_filtered[conditions_company]

print("DATASETS DIMENSIONS AFTER: ")
print("FACEBOOK: :", facebook_filtered.shape, '\n')
print("GOOGLE: ", google_filtered.shape, '\n')
print("COMPANY: ", company_filtered.shape, '\n'*2)

DATASETS DIMENSIONS BEFORE:
FACEBOOK: : (65303, 9)

GOOGLE:  (344036, 9)

COMPANY:  (64827, 6)


DATASETS DIMENSIONS AFTER:
FACEBOOK: : (34278, 9)

GOOGLE:  (275279, 9)

COMPANY:  (28828, 6)

In [46]:
facebook_filtered['region'].unique()

array([nan, 'british columbia', 'alberta', 'ontario', 'manitoba',
       'florida', 'quebec', 'provincie utrecht', 'pennsylvania', 'ohio',
       'new mexico', 'saskatchewan', 'nouvelle-aquitaine', 'california',
       'new york', 'iowa', 'tennessee', 'new jersey', 'texas',
       'rabat-sale-kenitra', 'colorado', 'massachusetts', 'virginia',
       'seoul', 'minnesota', 'illinois', 'rangpur division', 'washington',
       'new south wales', 'indiana', 'irkutsk oblast', 'north carolina',
       'queensland', 'utah', 'georgia', 'north dakota', 'dubai',
       'new brunswick', 'michigan', 'oklahoma', 'kansas', 'missouri',
       'nova scotia', 'madeira', 'moscow', 'bavaria', 'central macedonia',
       'connecticut', 'louisiana', 'england', 'alaska', 'rio de janeiro',
       'west virginia', 'nebraska', 'istanbul', 'ile-de-france',
       'rhode island', 'auckland', 'arkansas', 'wisconsin', 'maharashtra',
       'alabama', 'flanders', 'kuala lumpur', 'north rhine-westphalia',
       'montana', 'silesia', 'maryland', 'south carolina', 'veneto',
       'delaware', 'gyeongsangbuk-do', 'gauteng', 'konya', 'nevada',
       'selangor', 'sao paulo', 'connaught', 'kentucky', 'maine',
       'rheinland-pfalz', 'calabarzon', 'punjab', 'brussels capital',
       'taipei city', 'south australia', 'mississippi', 'south dakota',
       'arizona', 'attica', 'bayern', 'prince edward island',
       'brandenburg', 'bucuresti', 'abu dhabi', 'new hampshire',
       'baden-wurttemberg', 'oregon', 'centre-val de loire', 'yukon',
       'bratislava', 'rize', 'central luzon', 'south holland',
       "yaroslavskaya oblast'", 'auvergne-rhone-alpes', 'perak',
       'friesland', 'western australia', 'provincie overijssel',
       'wyoming', 'cagayan valley', 'assam', 'gyeonggido', 'hanoi',
       'moscow oblast', 'provincie flevoland', 'idaho', 'north holland',
       'warmia-masuria', 'vermont', 'tokyo', 'occitanie', 'wales',
       'ankara', 'pomerania', 'provincia de panama', 'dhaka division',
       'victoria', 'baleares', 'north brabant', 'mpumalanga', 'karnataka',
       'district of columbia', "penzenskaya oblast'", 'ho chi minh',
       'telangana', 'newfoundland and labrador', 'stockholm', 'berlin',
       'rangoon', 'tamil nadu', 'gunma', 'jammu and kashmir',
       'taichung city', "kaliningradskaya oblast'", 'central district',
       'eastern', 'bruxelles-capitale', 'haryana', 'kwazulu-natal',
       'uttarakhand', 'delhi', 'western cape', 'bursa',
       'rio grande do sul', 'eastern cape', 'baladiyat ad dawhah',
       'antalya', 'northwest territories', 'distrito federal',
       'mexico city', 'gyeongsangnam-do', 'tekirdag', 'vlaanderen',
       'santa fe', 'grand est', 'hawaii', 'kujawsko-pomorskie',
       'bourgogne-franche-comte', "chernivtsi oblast'",
       'republika srpska', 'jakarta', 'scotland', 'canterbury',
       'metro manila', 'gyeonggi-do', 'east macedonia and thrace',
       'yucatan', 'okinawa', 'lower silesia', 'valencia', 'bali',
       'west bengal', 'mazovia', 'rostov', 'uttar pradesh', 'sharjah',
       'leinster', 'kutahya', 'santiago metropolitan', 'izmir',
       'nordrhein-westfalen', 'johor', 'lima', 'sejong-si', 'wallonie',
       'khanty-mansia', 'andalusia', 'manisa', 'federal district',
       'northern ireland', "kirovskaia oblast'", 'caldas',
       'makkah province', 'western province', 'carinthia', 'kocaeli',
       'kelantan', 'lodz voivodeship', 'sarawak', 'niedersachsen',
       'daegu', 'groningen', 'hessen', "moskovskaia oblast'",
       'australian capital territory', 'lombardy',
       'provincia de alajuela', 'kedah', 'east java', 'tel aviv',
       'orange free state', 'provincia del guayas', 'skane',
       'saint thomas island', 'hesse', 'samsun', 'ekiti state', 'riga',
       'madrid', 'niigata', 'murcia', 'north west',
       'departamento de cortes', 'saint michael', 'khabarovsk',
       'lower austria', 'aragon', 'koprivnicko-krizevacka zupanija',
       'santa catarina', 'northern territory', 'lower saxony', 'jiangsu',
       'central visayas', 'iasi', 'negeri sembilan',
       'provincia de chiriqui', 'gaziantep', 'primorskiy (maritime) kray',
       'subcarpathia', 'chungcheongnam-do', 'kowloon city',
       "stavropol' kray", 'nacional', 'departamento de managua',
       'west papua', 'provincie gelderland', 'thessaly', 'perm krai',
       'sha tin', 'wallonia', 'zonguldak', 'nunavut', 'rio negro',
       'asuncion', 'west java', 'saarland', 'ulyanovsk oblast', 'taoyuan',
       'provincia duarte', 'putrajaya', 'northern cape',
       "voronezhskaya oblast'", 'jeollabuk-do',
       'departamento de francisco morazan', 'mie', 'kerala',
       'west sumatra', 'changhua', 'kemerovo oblast',
       'tatarstan republic', 'samara oblast', 'bisho', 'mersin',
       'krasnodarskiy kray', 'greater poland', 'zeeland', 'maritime',
       'ar riyad', 'salzburg', 'upper austria', 'cataluna', 'gisborne',
       'arges', 'banten', 'riau', 'provincie drenthe',
       'san antonio village', 'departamento de cochabamba', 'tasmania',
       'mecklenburg-vorpommern', 'buskerud', 'canary islands',
       'madhya pradesh', "provence-alpes-cote d'azur", 'swietokrzyskie',
       'haiphong', 'umtata', 'vestland', 'bayburt', 'ordu', 'al asimah',
       'region hovedstaden', 'fukushima-ken', 'tianjin', 'akita', 'hyogo',
       'buenos aires f.d.'], dtype=object)

In [47]:
print("Missing data in the facebook dataframe: ")
print(missing_data(facebook_filtered, ''), '\n')

print("Missing data in the google dataframe: ")
print(missing_data(google_filtered, ''), '\n')

print("Missing data in the company dataframe: ")
print(missing_data(company_filtered, ''))

Missing data in the facebook dataframe:
Missing data in  dataframe:
               Total values missing  Percent of missing data
zip_code                     14764                43.071358
region                        9826                28.665616
city                          9824                28.659782
address                       5070                14.790828
name                             0                 0.000000
category                         0                 0.000000
country                          0                 0.000000
country_code                     0                 0.000000
phone                            0                 0.000000

None

Missing data in the google dataframe:
Missing data in  dataframe:
               Total values missing  Percent of missing data
zip_code                     58831                21.371409
region                       29485                10.710951
city                         29385                10.674625
address                      16911                 6.143222
name                             0                 0.000000
category                         0                 0.000000
country                          0                 0.000000
country_code                     0                 0.000000
phone                            0                 0.000000

None

Missing data in the company dataframe:
Missing data in  dataframe:
           Total values missing  Percent of missing data
region                     885                 3.069932
city                       875                 3.035244
name                         0                 0.000000
category                     0                 0.000000
country                      0                 0.000000
phone                        0                 0.000000

None

* Missing values look as expected. There are no missings in the name, category, country and phone columns. 
* Further, a dictionary containing phone number areas asssociated with region and country could be used to fill in the region; or a request to an API would be more viable to fill in the city and region, using the zip_code and country or the address.

In [48]:
# how many phone numbers start with 1 where region is missing
filtered_df = facebook_filtered[(facebook_filtered['phone'].str.startswith('1')) & (facebook_filtered['region'].isnull())]

count = len(filtered_df)

print("Number of values where the phone number starts with '1' and the region is missing:", count)

Number of values where the phone number starts with '1' and the region is missing: 0

* US and Canada have area codes in the phone numbers that can be easily mapped, but apparently there are no regions missing on the rows where the phone numbers starts with +1, at least in facebook_filtered.

<a id="15" ></a>
## **Merge the datasets**

*  Since there are around 10 000 cities in the world, I will not pay a lot of attention on the city (since the country is more relevant in terms of the location); if there are conflicts, I will take the data from one of the datasets, if it is available; I will do the same regarding the address and the phone.

* If there is non-nan data in the datasets, I will favour the datasets information in this order: Google, Facebook, Company. After each join, missing values will be filled in with non-null values from subsequent datasets, prioritized according to the given order (Google > Facebook > Company).

In [49]:
# merge datasets sequentially
# suffixes=('_fb', '_google') makes it clear which df each column originated from
# how='outer' performs a full outer join; it combines rows from both df, keeping all rows from both and filling in missing values with nan where there is no match
companies_joined = facebook_filtered.merge(google_filtered, on = ['name', 'category', 'country', 'region', 'city', 'address', 'phone'], how = 'outer', suffixes = ('_fb', '_gg'))
companies_joined = companies_joined.merge(company_filtered, on = ['name', 'category', 'region', 'city', 'country', 'phone'], how = 'outer', suffixes = ('' , '_company'))

# function to prioritize non-null values for each row of the df
def favour_values(row):
    
    for column in companies_joined.columns:
        
        # original column name without suffix, since the column names potentially have suffixes like _fb, _gg, and _company
        # to distinguish where the data originated from after merging
        # splitting by _ and selecting the first element [0] extracts the base part of the column name
        # removing the suffix and getting the original column name
        main_column = column.split('_')[0]
        
        # check if there's a google version of the column and it's not nan, then prioritize google data
        google_column = f"{main_column}_gg"
        
        if google_column in row.index and pd.notna(row[google_column]):
            row[main_column] = row[google_column]
            
        # else, check facebook data
        elif f"{main_column}_fb" in row.index and pd.notna(row[f"{main_column}_fb"]):
            row[main_column] = row[f"{main_column}_fb"]
            
        # lastly, check company data, which is already in the original column due to the merge suffix
        elif f"{main_column}_company" in row.index and pd.notna(row[f"{main_column}_company"]):
            row[main_column] = row[f"{main_column}_company"]
            
    return row


companies_joined = companies_joined.apply(favour_values, axis = 1)


# drop columns with suffixes after data prioritization
columns_to_drop = [col for col in companies_joined.columns if '_fb' in col or '_gg' in col or '_company' in col]
companies_joined.drop(columns = columns_to_drop, inplace = True)

# keep only the first occurrence of duplicates by name:
# - calculate the number of non-nan values for each row, except the name column itself
# - sort the df by that score in descending order
# - drop duplicates based on name and keep the first row with the highest number of valid entries

companies_joined['non_na_count'] = companies_joined.apply(lambda row: row.count() - pd.isna(row['name']), axis = 1)

companies_joined = companies_joined.sort_values(by = ['name', 'non_na_count'], ascending = [True, False])

companies_joined.drop_duplicates(subset = ['name'], keep='first', inplace = True)

# reset index
companies_joined.reset_index(drop = True, inplace = True)

# drop the non_na_count column 
companies_joined.drop(columns=['non_na_count'], inplace = True)

In [50]:
companies_joined.head

<bound method NDFrame.head of                                                      name  \
0                                          !MPACT Theatre
1                                      # 9 Auto Sales Ltd
2                                    #1 Entertainment LLC
3       #1 IT Support & Services Company in Winnipeg |...
4                                                #1 Nails
...                                                   ...
315658                                   🥇 Strategic Mind
315659                          🥇Béton Surface Lanaudière
315660  🥇MyHomeware-Specialist of Tapware, Bathroom Va...
315661  🦋 Simplicité Santé - Soins infirmiers | prélèv...
315662  🧵 Atelier de Couture Karine Mascouche -Sur Ren...

                                      category               country  \
0               Theatres & Theatrical Services                jersey
1           Automobile Dealers & Manufacturers  virgin islands, u.s.
2                                 Entertainers  virgin islands, u.s.
3                                Cybersecurity                canada
4                                Beauty Salons  virgin islands, u.s.
...                                        ...                   ...
315658                Web Development Agencies  virgin islands, u.s.
315659                    Flooring Contractors  virgin islands, u.s.
315660  Home Builders & Renovation Contractors      christmas island
315661     Employment Agencies & HR Consulting  virgin islands, u.s.
315662                 Fabric-Based Home Goods  virgin islands, u.s.

                 region         city          phone  \
0               england   willenhall  +447891688502
1               ontario     brampton   +12898065355
2              nebraska        omaha   +14022250915
3              manitoba     winnipeg   +12042894084
4           mississippi      jackson   +17692304044
...                 ...          ...            ...
315658          ontario   north york   +16472439321
315659           quebec   terrebonne   +18556523866
315660  new south wales  north rocks   +61288501111
315661              NaN          NaN   +14382570931
315662           quebec    mascouche   +15148929821

                                                  address
0       Drama Theatre, Willenhall E-ACT Academy, Furze...
1            690 Queen St W, Brampton, ON L6X 3E1, Canada
2                         3333 Parker St, Omaha, NE 68111
3                                                     NaN
4       5050 Interstate 55 North Frontage Rd, Jackson,...
...                                                   ...
315658  North York, ON, Canada · In Concorde Corporate...
315659                         Terrebonne, Quebec, Canada
315660  Unit E,Gate B, 21 Loyalty Rd, North Rocks NSW ...
315661                                                NaN
315662  1330 Chemin des Anglais, Mascouche, Quebec J7L...

[315663 rows x 7 columns]>

In [51]:
print(companies_joined.shape)

(315663, 7)

In [52]:
print("Missing data in the final dataset: ")
print(missing_data(companies_joined, ''), '\n')

Missing data in the final dataset:
Missing data in  dataframe:
           Total values missing  Percent of missing data
address                  41134                13.030986
region                   34708                10.995270
city                     34598                10.960423
name                         0                 0.000000
category                     0                 0.000000
country                      0                 0.000000
phone                        0                 0.000000

None

In [53]:
unique_names_count = companies_joined['name'].nunique()
print("Number of unique values in the 'name' column:", unique_names_count)

unique_categories_count = companies_joined['category'].nunique()
print("Number of unique values in the 'category' column:", unique_categories_count)

unique_phones_count = companies_joined['phone'].nunique()
print("Number of unique values in the 'name' column:", unique_phones_count)

Number of unique values in the 'name' column: 315663
Number of unique values in the 'category' column: 6594
Number of unique values in the 'name' column: 257182

* The number of unique values in the name column matches the number of rows in the final dataset, which means that now, there will only be unique data for each company in the companies_joined.csv file.

In [54]:
companies_joined.to_csv('companies_joined.csv', index = False)